@model OnCall_Staffing.Models.Posting

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Posting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalInstructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalInstructions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address.AddressID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employer.EmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
